page-login {

	.toast-container{
		background: white ;
	  }

	  ion-toast.success .toast-wrapper {
		background: green ;
	}

	.login-content
	{
		background: url(https://i.pinimg.com/564x/04/7f/15/047f154565ecc65a5afd27c287debf15.jpg);
		background-size:cover;
		background-repeat: no-repeat;

		

		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button
			{
				color: $white-d;

				.button-inner
				{
					@include justify-content(flex-start);
				}
			}

			.signup-button
			{
				font-weight: 500;
				color: $theme-color-2;

				.button-inner
				{
					@include justify-content(flex-end);
				}
			}
		}
	}

	.gggg{
		opacity: 0.6;
		filter: alpha(opacity=50);
	}

	.aaaaa{
		opacity: 0.6;
		filter: alpha(opacity=50);
	}

	.center{
		margin-top: 50%;
	}

	// .login-form .auth-form{
	// 	margin-top: 50%;
	// }
}
