@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Semi+Condensed');
page-favorite {
    $black-overlay: rgba(0, 0, 0, 0.30);
    $text-color: #1C0707;
    $banner-text-color: white;
    $content-color: whitesmoke;
    $detail-background: rgba(236,236,236,.8);

   .product-image{
       border-radius: 0px !important;
       width: 100px !important;
       height: 75px !important;
   }
   ion-item{
       padding-left: 0px !important;
       
   }
   ion-list{
    margin: 0px 0 0px !important;
   }
   p {
    margin-bottom: 0 ;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    }

    .price-rigth{
        text-align: right;
    }

    .text-decoration {
        color: red;
        text-decoration: line-through;
        margin-right: 0.5em
        
    }

}
