<ion-header>
    <ion-navbar>
        <ion-title>{{ 'PROFILE' | translate }}</ion-title>
        <!-- <ion-buttons start>
            <button ion-button>
        {{ 'SAVE' | translate }}
      </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content class="settings-content">
    <div *ngIf="profileData">
        <div class="user-image-content">
            <ion-row no-padding class="user-image-row">
                <ion-col no-padding width-40>
                    <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="chosenPicture" alt="this is the image" title="IMAGE!"></preload-image>
                </ion-col>
            </ion-row>
            <ion-row no-padding class="user-image-row">
                <ion-col no-padding width-60>
                    <button class="image-action-button" ion-button outline block small (click)="changePicture()">{{ 'CHANGE_PROFILE_PICTURE' | translate}}</button>
                </ion-col>
            </ion-row>
        </div>
        <ion-list class="user-data-content">
            <ion-list-header >
                <ion-row>
                    <ion-col col-6 class="profile-left">
                        Profile
                    </ion-col>
                    <ion-col col-6 class="btn-right">
                        <button ion-button clear class="size-btn" (click)="clicktogglr(users)">
                                <ion-icon [name]="Edit" ></ion-icon>
                            </button>
                    </ion-col>
                </ion-row>
            </ion-list-header>

            <ion-item>
                <ion-label stacked>{{ 'First Name' | translate }}</ion-label>
                <ion-input [disabled]="isenabled" type="text" [(ngModel)]="users.firstName" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'Last Name' | translate }}</ion-label>
                <ion-input [disabled]="isenabled" type="text" [(ngModel)]="users.lastName" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'E-mail' | translate }}</ion-label>
                <ion-input [disabled]="isenabled" [(ngModel)]="users.email" rows="5" ></ion-input>
            </ion-item>

        </ion-list>

        <ion-list no-border>
            <ion-list-header>
                General
            </ion-list-header>
            <ion-item>
                <ion-icon name='settings' item-start></ion-icon>
                <ion-label>Language</ion-label>
                <ion-select [(ngModel)]="language">
                    <ion-option *ngFor="let language of languages" [value]="language">{{language}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-toggle [(ngModel)]="enableNotifications" (tap)="toggleNotifications()"></ion-toggle>
                <ion-label class="label"> Enable notifications </ion-label>
                <ion-icon name='notifications' item-start></ion-icon>
            </ion-item>
        </ion-list>

        <!-- <button class="alt-button" ion-button full>{{'PRIVACY_POLICY' | translate}}</button>

        <button class="alt-button" ion-button full>{{'TERMS_OF_USE' | translate }}</button> -->

        <!-- <button class="alt-button logout-button" ion-button full icon-left>
    <ion-icon name="log-in"></ion-icon>
    {{'LOG_IN' | translate }}
  </button> -->

        <button class="alt-button logout-button" ion-button full icon-left (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    {{'LOG_OUT' | translate }}
  </button>
    </div>

</ion-content>