@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Semi+Condensed');

page-product-description {

    .title{
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    p {
        margin-bottom: 0 ;
        text-indent: 1.5em;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        
    }
    .color-orenge-custom {
        color: #6E2B16;

    }

    .text-decoration {
        text-decoration: line-through;
        margin-right: 0.5em
    }
    .price-pomotions{
        text-align: right;
    }
    .favorite-f{
        font-family: 'Raleway', sans-serif;
    }

    ion-scroll{
        padding-bottom: 0px !important;
        border-bottom: 0px !important;
    }
    .image{
        padding-bottom: 0px !important;
    }
    .image-logo{
        width: 70px;
        height: 60px;
        margin: auto;
    }
    .icon-star{
        color: #878717 !important;
        
    }
    .grid-font{
        font-family: 'Raleway', sans-serif;
    }
    

    

}
