<div>
  <div *ngIf="showSearch || showToolbar">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </div>
  <ion-row class="filter-bar" *ngIf="showToolbar">
    <ion-col col-5>
      <ion-icon name="ios-funnel"></ion-icon> Filter</ion-col>
    <ion-col col-5>
      <ion-icon name="swap"></ion-icon> Sort</ion-col>
    <ion-col col-2>
      <ion-icon name="list"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="onClick(item)">
          <ion-row >
            <ion-col no-padding width-33 class="magin-right-10-custom">
              <preload-image [ratio]="{w:1, h:1}" [src]="item.image[0]"></preload-image>
            </ion-col>
             <ion-col width-50>
              <h3 class="h3-name">{{item.name}}</h3>
              <div *ngFor="let itemprice of item.price">
                <p class="color-orenge-custom">{{ itemprice.type}} ฿ <span *ngIf="itemprice.discount == 0">{{itemprice.price }} </span><span class="text-decoration" *ngIf="itemprice.discount !== 0" > {{itemprice.price }}  </span><span *ngIf="itemprice.discount !== 0">{{itemprice.netprice }}</span> </p>
                </div>
             
            </ion-col> 
            <ion-col width-17 text-center align-self-center>
                <button ion-button color="danger" class="peel" (click)="clickTocart()"><ion-icon ios="ios-cart" md="md-cart"></ion-icon></button>
    </ion-col>

    </ion-row>

    </button>

  </ion-list>
</div>