<!-- <ion-list class="counter-list" *ngFor="let item of carts.items">
    <ion-item class="counter-item">
      <ion-avatar item-left>
        <preload-image [ratio]="{w:1, h:1}" [src]="item.product.image"></preload-image>
      </ion-avatar>
      <h2>{{item.product.name}}</h2>
      <p *ngIf="item.product.issize"><b> Size : {{item.product.size.detail}} - {{item.selectedsize}}</b></p>
      <p><b>{{item.amount}} Baht</b></p>
      <button ion-button icon-only clear color="danger"> 
        <ion-icon name="md-heart-outline"></ion-icon>
      </button>
      <button ion-button icon-only clear color="gray">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
      <counter-input [counterValue]="item.qty"></counter-input>
    </ion-item>
  </ion-list> -->

<!-- {{selectData|json}} -->

<ion-list>
  <ion-item *ngFor="let item of selectData">

    <ion-col no-padding width-33 item-left class="magin-right-10-custom">
      <preload-image [ratio]="{w:1, h:1}" [src]="item.product.image[0]"></preload-image>
    </ion-col>

    <ion-col>
      <h2 class="item-title">{{item.product.name}}</h2>
      <!-- <p *ngIf="data.product.issize"><b> Size : {{item.product.size.detail}} - {{item.selectedsize}}</b></p> -->
      <p><b>price : {{item.price}} Baht</b></p>
      
      <p><b>qty : {{item.qty}}</b></p>
      
      <p><b>amount : {{item.amount}} Baht</b></p>

      <!-- <div class="counter-list">
        <ion-item no-lines class="counter-item">
          <counter-input [counterValue]="data.qty" (output)="onClickQty($event,data)"></counter-input>
        </ion-item>
      </div> -->



    </ion-col>
  </ion-item>
</ion-list>

<!-- xxxxx: {{selectData | json}} -->

<!-- <ion-list>
  <ion-item *ngFor="let item of selectData">
    {{ item.product.name }}
  </ion-item>
</ion-list> -->